<div class="container">
  <div class="alert alert-info" ng-if="game == null">Loading <i class="fa fa-spinner fa-spin"></i></div>
  <div ng-if="game">
    <h2 class="text-center">
      <span ng-class="{'text-danger': xTurn}">X: {{game.players.X || 'Computer'}}</span>
      vs
      <span ng-class="{'text-danger': !xTurn}">O: {{game.players.O || 'Computer'}}</span>
    </h2>

    <div class="form-group" ng-repeat="row in game.board">
      <div class="col-md-4 cell" ng-repeat="col in row">
        <div flippable="" flipped="col.flipped" class="col-md-12 card card-h1">
          <div flippable-front="" class="text-center" ng-class="{'bg-success': col.owner}">
            <div ng-if="col.owner != null" class="text-center" style="font-size: 15em;">
              {{col.owner}}
            </div>
            <div ng-if="col.owner == null" ng-click="flipCard(col)" style="width: 100%; height: 100%;">
              <img src="/images/face.png" height="100%">
            </div>
          </div>
          <div flippable-back="" ng-class="tileType">
            <div class="float-top">
              <span ng-if="xTurn">X: {{game.players.X || 'Computer'}}'s Turn</span>
              <span ng-if="!xTurn">O: {{game.players.O || 'Computer'}}'s Turn</span>
            </div>
            <div class="text-center" style="font-size: 11em; padding-top: 25px;">{{col.word}}</div>
            <div class="float-bottom-left">
              <button class="btn btn-default" ng-click="correct(col)">Correct</button>
            </div>
            <div class="float-bottom-right">
              <button class="btn btn-default" ng-click="steal(col)">Steal</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>