<div class="panel panel-default answerQuestion">
  <div class="panel-heading">
    <h2 class="panel-title"><img ng-src="{{player.avatar}}"> {{player.name}}</h2>
  </div>
  <div class="panel-body">
    <div class="instruction">{{question.instruction}}</div>
    <div class="ask text" ng-class="style">{{question.ask.text}}</div>
  </div>
  <div class="panel-footer text-center">
    <button ng-if="player.clock" ng-click="correct()"
        class="btn btn-success btn-sm" ng-class="{disabled: timeToLive.block > 0}">
      <i class="fa fa-check"></i> Correct <span class="clock">{{timeToLive.correct}}</span>
    </button>
    <button ng-if="player.block" ng-click="block()"
        class="btn btn-warning btn-sm" ng-class="{disabled: timeToLive.block == 0}">
      <i class="fa fa-ban"></i> Block <span class="clock">{{timeToLive.block}}</span>
    </button>
  </div>
</div>
