<div>
  <div class="playerTurnPreview pull-top pull-left">
    <div class="currentPlayerCard">
      <div class="playerPortrait"><img ng-src="{{playerMap[currentPlayer.id].avatar}}"></div>
      <div class="playerName"><strong>{{playerMap[currentPlayer.id].name}}</strong></div>
    </div>
    <hr ng-if="queuedPlayers.length" />
    <div class="queuedPlayerCard" ng-repeat="player in queuedPlayers">
      <div class="playerPortrait"><img ng-src="{{playerMap[player.id].avatar}}"></div>
      <div class="playerName"><strong>{{playerMap[player.id].name}}</strong></div>
    </div>
  </div>

  <div class="container" style="margin-top: 20px;">
    <div class="alert alert-info" ng-if="game == null">Loading <i class="fa fa-spinner fa-spin"></i></div>
    <div ng-if="game">
      <div class="gameBoard size{{row.length}}" ng-repeat="row in game.board" ng-init="x = $index">
        <div class="cell size{{col.length}}" ng-repeat="col in row track by $index">
          <div class="cell-frame" ng-class="{clickable: col == null}" ng-click="chooseCell(x, $index)">
            <div class="cell-body">
              <i class="fa fa-question fa-5x" ng-if="col == null"></i>
              <img ng-if="col" ng-src="{{playerMap[col].avatar}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

